/**** Add Background Image CSS to the body element *****/


/**** Add H1 center alignment ****/


body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-container{
 background-image: url("Roulette.JPG");
 position: fixed;
 height:100%;
 width:100%;
 background-color:#7aec89
}


h1{
text-align:center;
}
input,
label {
  display: block;
}

input {
  font-family: Arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  height: 48px;
  padding: 10px;
  border: 1px solid #adadad;
  border-radius: 2px;
}

label {
  color: black;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  display: block;
  margin: 0 0 5px;
  text-align: center;
}

/**** Add these selectors to HTML elements ***/
#playerTable {
    width: 50%;
    top:100px;
    margin:50px;
    padding: 25px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    border-radius: 2%;
    background-color:#90EE90;
}

#playButton {
  width:350px;
  font-weight: bold;
  background-color: #d85757;
  height: 50px;
  border: none;
  cursor: pointer;
  margin-left:10px;
}

